*{ margin:0; padding:0; }
body{ margin:0; padding:0; font-size:12px; background:url(../images/bg.jpg) no-repeat top center fixed; top center no-repeat #ffffff; }
.wrap{ width:1000px; overflow:hidden; margin:0 auto; }


/*/ 首页列表样式 /*/
.r{ border-width:1px; border-style:solid; border-top:none; }
.r, .c1, .c2, .c3, .c4, .c5, .c6, .c7{
	line-height:28px;
	float:left;
	white-space:nowrap;
	overflow:hidden;
	border-right-style:solid;
	border-right-width:1px;
}

.r, .c1, .c2, .c3, .c4, .c5, .c6, .c7{ border-color:#171313; }
.c1 a{ color:#030303; }
.c2 a{ color:#030303; }
.c3{ text-align:center; color:#FF0000; }
.lt .c3{ text-align:center; }
.r a{ text-decoration:none; }
.c7{ text-align:center; }
.c1 a, .c2 a{ margin-left:4px; }
.c3 span, .c4 span, .c5 span, .c6 span{ margin-left:4px; }
.c7 a{ color:#333333; }
.c1, .c2, .c4, .c6{ text-align:center; }

span.jp_gd{ color:#6200DE;  }

/*\ List Title \*/
.lt{
	text-align:center;
	font-weight:bolder;
	color:#FFFFFF;
	background-color:#9B0000;
}

table.lst-header{
	border-collapse:collapse;
	margin:0 auto;
}
table.lst-header th{
	background-color:#171313;
	font-size: 14px;font-family: "微软雅黑";
	color:#FFFFFF;
	font-weight:400;
	height: 40px;
	line-height:40px;
}
/*/ 首页列表样式 /*/


/*/ 官方强烈推荐 明天即将开放游戏 /*/
.lst_title{	
	background-color:#171313;
	font-size: 13px;
	color:#FFFFFF;
	font-weight:400;
	border:solid 1px #171313; 
	height: 36px;
	line-height:36px;
	 text-align:center;
}

/*  */
span.red2{ color:#FF0000;margin:0; padding:0;  }
span.green{ color:#009900;margin:0; padding:0;  }
span.blue{ color:#0066FF;margin:0; padding:0;  }
span.pink{ color:#FF00FF;margin:0; padding:0;  }

.r{width:998px; margin:0px auto; float:none; overflow:hidden; } 
.c1{width:140px;overflow:hidden; text-align:left;  } 
.c1 img{ margin-left:5px; }
.c2{width:125px;overflow:hidden;} 
.c3{width:165px;overflow:hidden;} 
.c4{width:90px;overflow:hidden;} 
.c5{width:311px; text-align:left;overflow:hidden; } 
.c6{width:90px;overflow:hidden;} 
.c7{width:70px; border-right:none;overflow:hidden; } 
